<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div id="container">
      <form action = "http://127.0.0.1:8081/data" method = "post" >
         Username: <input type = "text" name = "username">  <br>
         Password: <input type = "password" name = "password">
         <input type = "submit" value = "Submit">
      </form>
    </div>
  </body>
</html>
