<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
        <div class="">
            <h3 style="color: red;"> DO NOT RUN THIS TOO MANY TIMES TOO QUICKLY! </h3>
            <h5> Facebook will lock you out, and you will have to reset facebook password. There's also the offchance facebook bans you but that's significantly less likely </h5>
            <form action = "/" method = "post" >
              <% if(data === "error"){ %>
                  <div class="form-group row has-danger">
                  <div class="form-control-feedback col-5">Wrong Username/Password</div>
                  <div class="col-7"> </div>
               <% } else{ %>
                 <div class="form-group row">
              <% } %>
                <label class="col-form-label col-1" for="email">Username</label>
                <div class="col-3">
                  <input id="email" class="form-control" type="text" name = "username" placeholder="fbusername or email address">
                </div>
              </div>
              <% if(data === "error"){ %>
                  <div class="form-group row has-danger">
               <% } else{ %>
                 <div class="form-group row">
              <% } %>
                <label class="col-form-label col-1" for="password">Password</label>
                <div class="col-3">
                  <input id="password" class="form-control" type="password" name="password" placeholder="password">
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
                </div>
              </div>
            </form>
          </div>
    </div>
  </body>
</html>
